@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root {
  --primary: #78538d;
  --secondary: #3f769b;
  --loader: #504fb3;
  --error: #b96868;

  /* --loader-animation:  */
}

/* base styles & title */
body {
  font-family: 'Noto Serif';
  color: var(--primary);
  padding: 3rem;
}


